

.AppBar {
  width: 100%; /* Ensure AppBar spans the entire width */
}





.contract-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Set height to 100% of the viewport height */
}




.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;

}

.carousel-page {
  display: flex;
  flex-direction: column;
  padding: 0;
margin-left: 10%;
  box-shadow: 10% green;
  border: 3px solid rgb(79, 79, 239);
  border-radius: 5px;
  background-color: #fff;
  height: 100%;
  width: 80%;
  border-radius: 5%;
}




.carousel .control-dots {
top: 0;
}
/* 
.carousel .control-dots .dot {
width: 20px;
height: 20px;
margin-right: 50px;
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
background: black;

} */
